page-prestamos{ 

.content{


background-color: #000082;
}
  /*img {
    position: relative;
    text-align: center;

  }
*/
  .card-title { 
    position: absolute;
  //  top: 50%;
    left:10%;
    font-size: 2.5em;
    width: 100%;
    font-weight: bold;
    background-color:transparent;

    color: #c6ff00;
    //font-family:  'Poppins', sans-serif;
    font-family: 'Press Start 2P', sans-serif;
  }

  .card-subtitle {
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    //left:10%;
    width: 100%;

    color: #fff;
    font-weight: bold;
  }

}